<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="static/basic.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Martel:wght@200;300;400;600;700&display=swap" rel="stylesheet">
        <title>Index</title>
    </head>
    <body>
        <div class="document">
            <div class="documentwrapper">
                <div class="bodywrapper">
                    <div class="body">
                        <h1>Sire Denathrius Rankings</h1>
                        <h2>Introduction</h2>
                        <p>
                            The idea is that the rankings page for Sire Denathrius is flawed
                            because it allows for degenerate play in phase 1 to impact the parse. I want a realistic
                            view on how much this damage actually impacts your parses.
                        </p>
                    </div>
                </div>
            </div>
            <div class="sidebar">
                <h3>Contents</h3>
            </div>
        </div>
    </body>
</html>